.pod-member-full-name {
  font-family: proto, serif;
  font-size: 2em;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 rgba(23, 250, 0, 0.75),
  1px -1px 0 rgba(23, 250, 0, 0.75),
  -1px 1px 0 rgba(23, 250, 0, 0.75),
  1px 1px 0 rgba(23, 250, 0, 0.75);
}
